header{
    background: url("../Asset/Background_Intro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1366px;
    height: 750px;
}

.top{
    
    section:nth-child(1){
        justify-self: center;
    }

    section:nth-child(2){
        justify-content: center;
    }

    section:nth-child(3){
        justify-content: center;
    }
}


#avatar{

    padding-top: 120px;
    padding-bottom: 56px;
    width: 112px;
    div{
        display: flex;
        align-items: center;
    }

    div:nth-child(1){
        position: absolute;
    }

    div:nth-child(2){
        position: relative;
        margin-left: 60%;
        margin-top: 60%;
    }
}
.foto{
    img{
        width: 96px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        padding: 4px;
        border: 2px solid var(--red-color);
    }
}

.code{
    img{
        width: 32px;
        color:var(--green-color);
    }
}

#title-text{

    h1{
        padding-bottom: 20px;
    }

    h3{
        padding-bottom: 8px;
    }
}

#tags{
    display: flex;
    gap: 16px;
    padding-top: 80px;

    div:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;

        width: 114px;
        height: 40px;
        border-radius: 999px;
    }

    div:nth-child(2){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;

        width: 105px;
        height: 40px;
        border-radius: 999px;  
    }

    div:nth-child(3){
        width: 92px;
        height: 40px;
        border-radius: 999px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
    }

    div:nth-child(4){
        width: 138px;
        height: 40px;
        border-radius: 999px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
    }

    div:nth-child(5){
        width: 106px;
        height: 40px;
        border-radius: 999px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
    }

    div:nth-child(6){
        width: 119px;
        height: 40px;
        border-radius: 999px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
    }
}

.arrow{
    padding-top: 94px;
    padding-bottom: 60.5px;
}
