#top{

    text-align: center;

    h1{
        font: var(--title-lg);   
        color: var(--gray-600);
    }

    h3{
        color: var(--gray-500);
    }

    span{
        color: var(--red-color);
    }
    
    p{
        font: var(--text-sm);
    }
    
}

#projetos{
    padding-bottom: 144px;
    
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 330px);
        grid-template-rows: repeat(2, 280px);
        gap: 24px;
    }

    h3{
        padding-top: 72px;
    }

    img{
        width: 330px;
        border-radius: 18px;
        padding: 12px;
    }

    .aprsentação{
        background-color: var(--gray-300);
        border-radius: 12px;
        width: 330px;
        height: 280px;

        div{
            padding: 7px 12px 12px 12px;
            place-content: center
        }

    }
}

#portifolio{
    width: 100%;
    background-color: var(--gray-100);
    
    .expositor{
            grid-template-columns: repeat(3, 330px);
            gap: 24px;

            padding-bottom: 120px;
        }

        .expositores{
            border: solid var(--gray-200);
            border-radius: 12px;
            padding:0 140px 0 140;
            height: 170px;

            img{
                padding: 20px 212px 20px 20px;
            }

            h2{
                padding: 0 20px 8px 20px;
            }

            p{
                padding: 0 20px 0 20px;
            }

        }

        h3{
            padding-top: 88px;
        }
    }

#contato{
    padding: 128px 0 200px 0;
    
    h3{
        color: var(--purple-color);
    }
    p{
        padding-bottom: 48px;
    }
    img{
        width: 28px;
        aspect-ratio: 1/1;
    }

    .link{
        gap: 16px;
        justify-items: center;
    }

    .links{
        background-color: var(--gray-300);
        width: 400px;
        height: 68px;
        border-radius: 8px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px 24px;

        .iconame{
            display: flex;
            align-items: center;
            gap: 14.62px;
        }

        img{
            width: 28px;
            aspect-ratio: 1/1;
        }

        .img-alternativo{
            width: 20px;
            aspect-ratio: 1/1;
    }

    }
}