#app{
    display: grid;

    height: 100vh;
    width: 100vh;
    grid-template-areas: 
    "intro intro"
    "projects projects"
    "services services"
    "contact contact";
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#intro{
    grid-area: intro;
    text-align: center;

    h1{
        font: var(--title-lg);   
        color: var(--gray-600);
    }

    h3{
        color: var(--gray-500);
    }

    span{
        color: var(--red-color);
    }
    
    p{
        font: var(--text-sm);
    }
    
}

#projects{
    grid-area: projects;
    padding-bottom: 144px;
    
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 330px);
        grid-template-rows: repeat(2, 280px);
        gap: 24px;
    }

    h3{
        padding-top: 72px;
    }

    img{
        width: 330px;
        border-radius: 18px;
        padding: 12px;
    }

    .aprsentação{
        background-color: var(--gray-300);
        border-radius: 12px;
        width: 330px;
        height: 280px;

        div{
            padding: 7px 12px 12px 12px;
            place-content: center
        }

    }

    .aprsentação:hover{
        border:solid 2px var(--gray-400);
        transition: border 0.6s;
    }
}

#services{
    grid-area: services;
    width: 100%;
    background-color: var(--gray-100);
    
    .expositor{
            grid-template-columns: repeat(3, 330px);
            gap: 24px;

            padding-bottom: 120px;
        }

        .expositores{
            border: solid var(--gray-200);
            border-radius: 12px;
            padding:0 140px 0 140;
            height: 170px;

            img{
                padding: 20px 212px 20px 20px;
            }

            h2{
                padding: 0 20px 8px 20px;
            }

            p{
                padding: 0 20px 0 20px;
            }

        }

        h3{
            padding-top: 88px;
        }
}

#contact{
    grid-area: contact;
    padding: 128px 0 200px 0;
    
    h3{
        color: var(--purple-color);
    }
    .title-secundario{
        padding-bottom: 48px;
    }
    img{
        width: 28px;
        aspect-ratio: 1/1;
    }

    .link{
        gap: 16px;
        justify-items: center;
    }

    button{
        border: 0;
        background-color: var(--gray-300);
        width: 400px;
        height: 68px;
        border-radius: 8px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px 24px;

        p{
            color: var(--gray-500);
            font: var(--text-md);
            font-weight: 500;
        }

        .iconame{
            display: flex;
            align-items: center;
            gap: 14.62px;
        }

        .img{
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }

        .img-arrow{
            width: 20px;
            height: 20px;
            background: url("../Asset/icons/footer/ArrowUpRight.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }  

    }
    
    .linkedin{
        .img{
            background: url("../Asset/icons/footer/linkedin-link.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }

    .instagram{
        .img{
            background: url("../Asset/icons/footer/instagram-link.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }

    .github{
        .img{
            background: url("../Asset/icons/footer/gitHub-link.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }

    .e-mail{
        .img{
            background: url("../Asset/icons/footer/EnvelopeSimple.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }

    /* Hover */
    button:hover{
        .img-arrow{
            width: 20px;
            height: 20px;
            background: url("../Asset/icons/footer/ArrowUpRightHouver.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }  
    }
    
    button:hover .linkedin{
        .img{
            background: url("../Asset/icons/footer/linkedin-link-houver.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }

    button:hover .instagram{
        .img{
            background: url("../Asset/icons/footer/instagram-link-houver.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }

    button:hover .github{
        .img{
            background: url("../Asset/icons/footer/gitHub-link-houver.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }

    button:hover .e-mail{
        .img{
            background: url("../Asset/icons/footer/EnvelopeSimple-houver.svg");
            background-repeat: no-repeat;
            background-size: 100%; 
            background-position: center;
        }
    }
}